HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### additions ###
application-local.properties

### IDE Eclipse ###
.metadata/
.settings/
.classpath
.project
